body {
  background-color:pink;
}

.App {
  height: 100vh;
  display: flex;
}

#container {
  margin: auto;
  position: relative;
  height: 200px;
  display: block;
  float: left;
  border: 5px solid black;
}

#innerContainer {
  position: relative;
  height:100%;
  width: 50px;
  float: left;
}

.whiteNote {
  height: 100%;
  width: 49.5px;
  background: white;
  float:left;
  border-right: 1px solid black;
  position: relative;
}
.whiteNote.active {
  background: teal;
}

.blackNote {
  position: absolute;
  height: 65%;
  width: 55%;
  z-index: 1;
  background-color: #777;
  left: 68%;
}

.blackNote.active {
  background: pink;
}

