body {
  background-color: red;
}
#container {
  position: absolute;
  height: 200px;
  border: 5px solid black;
}

.whiteNote {
  height: 100%;
  width: 50px;
  color:blue;
  background: white;
  float: left;
  border-right: 1px solid black;
}

