body {
  background-color:pink;
}

.App {
  height: 100vh;
  display: flex;
}

.instrument {
  margin: auto;
}

.container {
  margin: auto;
  height: 200px;
  display: flex;
  border: 1px solid black;
  min-width: 700px;
}

.noteContainer {
  position: relative;
  height: 100%;
}

.noteContainer:not(:last-of-type) {
  border-right: 1px solid black;
}

.whiteNote {
  height: 100%;
  width: 50px;
  background: white;
}

.whiteNote.active {
  background: teal;
}

.blackNote {
  position: absolute;
  height: 65%;
  width: 55%;
  z-index: 1;
  background-color: #777;
  top: 0;
  left: 68%;
}

.blackNote.active {
  background: pink;
}
